Babel==2.4.0
bleach==2.0.0
dj-config-url==0.1.1
dj-database-url==0.4.2
Django==1.11
django-absoluteuri==1.2.0
django-appconf==1.0.2
django-argonauts==1.2.0
django-authtools==1.5.0
django-compressor==2.1.1
django-enumfields==0.9.0
django-extensions==1.7.8
django-ogmios==0.10.0
django-pyscss==2.0.2
html5lib==0.999999999
Markdown==2.6.8
mysqlclient==1.3.12
olefile==0.44
Pillow==4.1.0
py==1.4.33
pyScss==1.3.5
pytest==3.0.7
pytest-django==3.1.2
pytz==2017.2
six==1.10.0
-e git://github.com/mariocesar/sorl-thumbnail@e769ee773ca793fbc43f56fe3cee46670cb5fa89#egg=sorl_thumbnail
sqlparse==0.2.3
webencodings==0.5.1
